# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build
dist/
.vite/
*.local

# Logs
*.log
logs/
*.gz

# IDE / éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Env files (ne pas versionner tes secrets)
.env
.env.*
